<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC of CO RockSat-X 2022-2023 Payload Control Web Interface</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container py-3">
        <h3>CC of CO RockSat-X 2022-2023</h3>
        <h1>Payload Control Web Interface</h1>
        <div class="row">
            <div class="col-6">
                <img src="/static/motorhat.png" class="img-fluid">
            </div>
            <div class="col-6">
                <h4>GPIO Input Pin States</h4>
                <table id="gpio-pin-state-table" class="table">
                    
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/jquery-3.7.0.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>